<div class="modal fade show" tabindex="-1" role="dialog" style="padding-right: 15px; display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show"></div>
