<section class="bg-light" id="team">
  <div class="container">

    <div class="row">
      <div class="col-sm-4"></div>

      <div class="col-sm-4">
        <div class="team-member">
          <!--
          <#% if !@user.avatar.file.nil? && @user.avatar.file.exists? %>
          <#%= image_tag(
            @user.avatar.url, class: 'mx-auto rounded-circle', alt: 'avatar'
          ) %>
          <#% else %>
          <#%= image_tag(
            '/assets/no_image.png',
            class: 'mx-auto rounded-circle', alt: 'no image'
          ) %>
          <#% end %>
           -->
          <h5><%= @user.name %></h5>
          <p class="text-muted">Email: <%= @user.email %></p>
          <ul class="list-inline">
            <li class="list-inline-item">
              <%= link_to "Edit your profile",
                edit_user_path(user_id: @user.id),
                class: 'btn-default' %>
            </li>
            <li class="list-inline-item">
              <%= link_to "My Favorite Stations",
                user_favorite_stations_path(user_id: @user.id),
                class: 'btn-default' %>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-4"></div>
    </div>

  </div>
</section>
