<section class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"></div>
      <div class="intro-heading">Post Your Favorite Radio Station!</div>
      <% unless @radio_station.nil? %>
      <div class="intro-heading notice">
        <%= link_to 'Latest Station info',
          @radio_station.webcast_url, rel: 'noopener', target: '_blank' %>
      </div>
      <% end %>
      <div class="intro-heading notice"><%= notice %></div>
    </div>
  </div>
</section>
<%= yield %>
