/*
author: Yuji YAMAMOTO
License: MIT
*/

/*====================================================
                DEFAULT VALUES:

                Font Family                 : Roboto Condensed

                Greenish Blue               : #2196f3       (Buttons, Icons, Links, Lines & Backgrounds)
                Steel Gray                  : #41464b       (Headings)
                light Gray                  : #61666b       (Heading Second)
                Gray                        : #717171       (Paragraphs)
                Gray extra light            : #f5f5f5       (Content Background)
                White                       : #fff          (Text With Black Backgrounds)
                Black                       : #000

======================================================*/

@import url('https://fonts.googleapis.com/css?family=Hind:400,600');

/* General CSS */

html, body {
    height: 100%;
}

body {
    font-family: 'Hind', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    color:#41464b;
    text-transform: uppercase;
}

a {
    font-family: 'Hind', sans-serif;
    color: #2196f3;
}

p {
    font-family: 'Hind', sans-serif;
    color: #64707b;
    font-size: 15px;
    font-weight: 300;
}

@media (min-width: 1600px) {
    p {
        font-family: 'Hind', sans-serif;
        color: #64707b;
        font-size: 16px;
        font-weight: 300;
    }
}

/*---------------------------------------------------
  agency
  Copyright 2013-2018 Start Bootstrap
/*--------------------------------------------------*/

body {
  overflow-x: hidden;
}

p {
  line-height: 1.75;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 15px;
  text-transform: none;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

.btn {
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  color: white;
}
.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

::-moz-selection {
  text-shadow: none;
}
::selection {
  text-shadow: none;
}

img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}

/*====================================================
                       NAVIGATION
======================================================*/

    /*Navbar*/

    .affix {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        box-shadow: 0px 0.5px 4px #c3c2c2;
    }

    .navbar {
        padding: 0;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        background: #fff;
    }

    .navbar-header {
        padding-left: 85px;
    }

    .justify-content-end {
        padding-right: 85px;
    }

    .navbar-nav {
        float: right;
    }

    .navbar-nav>li {
        height: 65px;
        line-height: 65px;
        border-bottom: 3px solid rgba(0, 0, 0, 0);
        transition: all .5s ease-in-out;
    }

    .navbar-nav>li:hover, .navbar-nav>li:active {
        border-bottom: 2px solid #2196f3;
        background: #f0f0f0;
    }

    .navbar-nav>li>a {
        color: #808282 !important;
        font-size: 14.5px;
        font-weight: 700;
        font-family: "hine", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0 10px;
    }

    .navbar-nav>li>a:hover, .navbar-nav>li>a:active {
        color: #2196f3!important;
    }

    .nav-logo {
        width: 208px;
        height: 34px;
        padding: 5px 0 5px 8px;
        margin-bottom: 8px;
        margin-left: 10px;
        background-color: #fff;
        font-weight: 600;
        font-size: 32px;
    }

    .navbar-toggle {
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px solid #fff;
        border-radius: 0;
    }

    .navbar-toggle .navbar-toggler-icon {
        background-color: #fff!important;
    }

    .navbar-collapse {
        max-height: none !important;
    }

    @media (max-width: 991px) {

        .navbar>.container .navbar-nav {
            float: left;
            border-top: 1px solid #ddd;
            width: 100%;
        }

        .navbar>.container .navbar-brand,
        .navbar>.container-fluid .navbar-brand {
            padding: 12px 0px;
            margin-left: -10px;
        }

        .navbar-toggle {
            margin-right: 0;
        }

        .navbar-nav>li {
            height: auto;
            line-height: 35px;
            border-bottom: 3px solid rgba(0, 0, 0, 0);
            transition: all .5s ease-in-out;
            border-bottom: 1px solid #ddd;
        }

        .navbar-nav>li.active, .navbar-nav>li:hover, .navbar-nav>li:active {
            border-bottom: 2px solid #ddd;
            background: #f0f0f0;
        }

        .nav-logo {
          width: 102px;
          height: 40px;
          background-color: #fff;
          font-weight: 600;
          font-size: 24px;
          text-align: right;
        }
    }

    @media (max-width: 991px) {

        .affix {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030;
            box-shadow: 0px 0.5px 4px #c3c2c2;
        }

        .container {
            max-width: 100%;
        }

        .navbar>.container .navbar-brand,
        .navbar>.container .navbar-toggler,
        .navbar>.container-fluid .navbar-brand {
            margin: 8px 10px;
        }

        .navbar>.container .navbar-brand,
        .navbar>.container-fluid .navbar-brand {
            padding: 8px 0px;
        }

        .navbar-nav>li {
            line-height: 25px;
            padding: 0 20px;
            border-bottom: 3px solid rgba(0, 0, 0, 0);
            transition: all .5s ease-in-out;
            border-bottom: 1px solid #ddd;
        }

    }

/*====================================================
                    FOOTER
======================================================*/

    /*footer bottom*/

    footer {
        bottom: 0;
        position: fixed;
        width: 100%;
        z-index: 2;
    }

    #footer-bottom {
        background-color: rgb(0, 0, 0);
        padding: 0px 0 8px;
    }

    #footer-copyrights p {
        margin: 0;
        font-size: 13px;
        font-weight: normal;
        color: #bbb;
        text-align: center;
    }

    .btn-back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 22px;
        padding: 3px 15px;
        border-radius: 0;
        display: none;
    }

    @media (max-width: 767px) {
        .footer .container {
            width: 90%;
        }
    }

/*====================================================
                  BUTTON (Generic)
======================================================*/

    .btn-general {
        background-color: transparent;
        text-align: center;
        border-width: 1px;
        border-radius: 0px;
        font-size: 16px;
        padding: 10px 15px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .btn-white {
        border-color: #2196f3;
        background-color: #2196f3;
        color: #fff;
    }

    .btn-white:hover,
    .btn-white:focus {
        background-color: transparent;
        color: #2196f3;
        cursor: pointer;
    }

    .btn-green {
        border-color: #2196f3;
        color: #2196f3;
    }

    .btn-green:hover,
    .btn-green:focus {
        background-color: #2196f3;
        color: #fff;
        cursor: pointer;
    }

/*====================================================
                       HOME: agency
  Copyright 2013-2018 Start Bootstrap
======================================================*/

textarea.form-control.radio-station {
  height: calc(5.66rem + 1.8px);
}

p.radio-station {
  height: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
}

div#error_explanation {
  color: red;
}

.notice {
  color: #1400ffab;
}

.row .disp-contents {
  /* 親から値を継承させる */
  display: inherit;
  /* ブラウザに理解させるために上書きする */
  display: contents;
}

#preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/assets/loading.gif) 50% 50% no-repeat;
  opacity: 1;
}

.masthead {
  text-align: center;
  color: white;
  background-image: url("/assets/NMbZ7QM3XWM-min.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 65px;
}

@media (max-width: 991px) {
  .masthead {
    text-align: center;
    color: white;
    background-image: url("/assets/NMbZ7QM3XWM-min.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 56px;
  }
}

@media (min-width: 768px) {
  .masthead .intro-text {
    padding-top: 340px;
    padding-bottom: 290px;
  }

  .masthead .intro-text .intro-lead-in {
    height: 40px;
    margin-bottom: 25px;
    font-style: italic;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .masthead .intro-text .intro-heading {
    font-size: 45px;
    line-height: 45px;
    height: 75px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .masthead .intro-text {
    padding-top: 290px;
    padding-bottom: 240px;
  }
  .masthead .intro-text .intro-lead-in {
    height: 22px;
    margin-bottom: 25px;
    font-style: italic;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .masthead .intro-text .intro-heading {
    font-size: 30px;
    line-height: 30px;
    height: 50px;
    margin-bottom: 25px;
  }
}

/*====================================================
                   sign-up & in: sb-admin
  Copyright 2013-2018 Start Bootstrap
======================================================*/

.card-login {
  max-width: 25rem;
}

.card-register {
  max-width: 40rem;
}

/*====================================================
                   user-show: agency
  Copyright 2013-2018 Start Bootstrap
======================================================*/

@media (min-width: 768px) {
  #team .row {
    padding-top: 165px;
    padding-bottom: 166px;
  }
}
@media (max-width: 767px) {
  #team .row {
    padding-top: 257px;
    padding-bottom: 207px;
  }
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

/*====================================================
                   station-show: b-hero
======================================================*/

#mu-about {
  overflow-x:hidden;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
  display: inline;
  width: 100%;
}

#mu-about ul {
  padding: 0;
  margin: 0;
}

#mu-about ul li {
  font-size: 17px;
}

#mu-about img {
  border: none;
  max-width: 100%;
}

.mu-about-area {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}

.mu-title {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
  margin-bottom: 35px;
  padding: 0 25%;
}

.mu-title h2 {
  color: #323232;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: inherit;
}

.mu-title p {
  line-height: inherit;
}

.mu-about-left {
  display: inline;
  float: left;
  padding-right: 15px;
  width: 100%;
}

.mu-about-right {
  display: inline;
  float: left;
  padding-left: 15px;
  width: 100%
}

.mu-about-right ul li {
  list-style: none;
  margin-bottom: 25px;
}

.mu-about-right ul li h3 {
  border-bottom: 3px solid #e5e5e5;
  color: #323232;
  font-size: 20px;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 15px;
  text-transform: none;
  font-family: inherit;
}

.mu-about-right p {
  font-size: 14px;
  line-height: 1.59;
}

@media (max-width: 1199px) {
  .mu-about-right {
    padding-left: 0;
  }
  .mu-about-right ul li {
    margin-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .mu-title {
    padding: 0 10%;
  }
}

@media (max-width: 767px) {
  .mu-title {
    padding: 0;
    margin-bottom: 25px;
  }
  .mu-about-area {
    padding: 60px 0;
  }
  .mu-about-right {
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .mu-title h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
}

/*====================================================
                   station-index: initial
======================================================*/

.probootstrap-section,
.probootstrap-footer {
  padding: 3em 0 10em;
  }
  .probootstrap-section .probootstrap-heading,
  .probootstrap-footer .probootstrap-heading {
    font-size: 40px;
    line-height: 1.5; }
    @media screen and (max-width: 768px) {
      .probootstrap-section .probootstrap-heading,
      .probootstrap-footer .probootstrap-heading {
        font-size: 30px; } }

.probootstrap-media {
  border: 1px solid #e6e6e6; }
  .probootstrap-media.text-center .probootstrap-icon {
    margin: 0 auto; }

/*====================================================
                   station-index: edulogy
======================================================*/

.row .blog-grid {
  margin-right: -15px;
  margin-left: -15px;
}

.blog-grid .col-lg-4, .blog-grid .col-md-6 {
  margin-bottom: 30px;
}

.course-box {
    border-radius: 6px 6px 0 0;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
}

.course-box img {
    border-radius: 6px 6px 0 0;
    width: 100%;
}

.course-details {
    padding: 3rem 2rem;
}

.course-details h4 {
    font-size: 18px;
    padding: 0 0 1.5rem;
    font-weight: 700;
    margin: 0;
}

.course-box small {
    display: block;
    font-size: 80%;
    margin-bottom: 10px;
}

.course-details p {
    padding-bottom: 0;
    margin-bottom: 0;
}

.course-footer ul {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 14px;
}

.course-footer .list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.course-footer .list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.course-footer a {
    color: #aaa;
}

.course-footer i {
    padding-right: 3px;
}

.course-footer {
    border-top: 1px solid #eaeaea;
    padding: 15px;
}

.course-footer .pull-right a {
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
}
